.header{
    height: 34vw;
    margin: 30px auto;
    background: url("./public/header_img.png") no-repeat;
    background-size: cover;
    position: relative;
}

.header-contain{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
}

.header-contain h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contain p{
    color:white;
    font-size: 1vw;

}

.header-contain button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw , 13px);
    border-radius: 50px;
}

@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contain{
        max-width: 45%;
    }
    
}

@media (max-width:750px) {
    .header-contain{
        max-width: 55%;
    }
    .header-contain p{
        display: none;
    }
    .header-contain button{
        padding: 2vw 4vw;
    }
}